@model List<DataAccessLayer.ModelLayer.WebPageModel>
@{
    ViewData["Title"] = "WebPages";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

@{
    var WebPageLists = Model;
}

<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <div><h2 class="mr-5 d-inline">Manage Web Pages</h2><h5 class="text-success ml-5 d-inline text-capitalize">@TempData["message"]</h5></div>
                <h4 class="mt-2 mb-0 pb-0"><button class="btn btn-danger" id="addNewWebForm">Add New</button></h4>
            </div>
        </div>
    </div>

    <!-- form row -->
    <div class="row" id="webPageForm">
        <!-- table section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Add Web Pages</h2>
                    </div>
                </div>
                <div class="table_section padding_infor_info">
                    <form method="post" enctype="multipart/form-data" action="/Admin/WebPages">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Page Name<span class="text-danger">*</span></label>
                                <input name="PageName" id="PageName" class="form-control" placeholder="Enter Page Name" />
                            </div>
                            <div class="col-md-4">
                                <label>Page Logo</label>
                                <input type="file" name="pagelogo" id="pagelogo" class="form-control" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12"><button type="submit" class="btn btn-success">SAVE</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- table section -->
    <div class="row" id="webPageTable">
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>WebPages Lists</h2>
                    </div>
                </div>
                <div class="table_section padding_infor_info">
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Page ID</th>
                                    <th>Page Name</th>
                                    <th>Page Logo</th>
                                    <th>Modify</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (WebPageLists != null)
                                {
                                    int i = 1;
                                    @foreach (var item in WebPageLists)
                                    {
                                        <tr id="tr_@i">
                                            <td style="width:100px;"><input type="text" name="" id="" value="@i" class="form-control" readonly /></td>

                                            <td style="width:100px;"><input type="text" name="Id" id="Id" value="@item.Id" class="form-control" readonly /> </td>
                                            <td><input type="text" name="PageName" id="PageName" value="@item.PageName" class="form-control" disabled /></td>
                                            <td>
                                                <input type="file" name="PageLogo" id="PageLogo" class="form-control w-75 PageLogo d-none" />

                                                @if (!string.IsNullOrEmpty(@item.PageLogoPath))
                                                {
                                                    <img src="@Url.Content("~/images/pagelogo/")@item.PageLogoPath" height="50" class="w-25 d-inline" />
                                                }
                                                <input type="hidden" name="PageLogoPath" id="PageLogoPath" value="@item.PageLogoPath" class="form-control w-50 PageLogoPath" readonly />

                                            </td>
                                           
                                            <td class="edit_td_@i">
                                                <div class="edit-div">
                                                    <button class="btn @(item.IsActive == true ? "bg-primary" : "bg-secondary") text-light rounded rounded-5 p-1" @(item.IsActive == false ? "disabled " : "")>Edit</button>
                                                </div>

                                                <div class="update-div">
                                                    <button class="btn bg-danger text-light rounded rounded-5 p-1 cancel_row">Cancel</button>
                                                    <button class="btn bg-warning text-light rounded rounded-5 p-1 update_row">Update</button>
                                                </div>
                                            </td>
                                            @if (@item.IsActive.Equals(true))
                                            {
                                                <td><a class="bg-success text-light rounded rounded-5 p-1" href="/Admin/WebPages?Id=@item.Id&Status=deactivate">Active</a></td>
                                            }
                                            @if (@item.IsActive.Equals(false))
                                            {
                                                <td><a class="bg-danger text-light rounded rounded-5 p-1" href="/Admin/WebPages?Id=@item.Id&Status=activate">Inactive</a></td>
                                            }
                                            <td>
                                                @if (item.IsActive == true)
                                                {
                                                    <button class="btn bg-secondary text-light rounded rounded-5 p-1">delete</button>
                                                }
                                                else
                                                {
                                                    <a class="bg-danger text-light rounded rounded-5 p-1" href="/Admin/WebPages?Id=@item.Id&Status=delete">delete</a>
                                                }
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td><h4>No Data Found</h4></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {

    <script>

        $(document).ready(function () {
            $("#webPageForm").hide();

            let currentText = $("#addNewWebForm").text();

            $("#addNewWebForm").click(function () {
                if (currentText == "Add New") {
                    $("#webPageForm").show();
                    $("#addNewWebForm").text("Close");
                    currentText = "Close";
                }
                else {
                    $("#webPageForm").hide();
                    $("#addNewWebForm").text("Add New");
                    currentText = "Add New";
                }
            });
        });

        $(document).ready(function () {
            $("#PageLogo").change(function () {
                // let img_value = $(this).val();
                // let arr = img_value.split("\\");
                // $("#PageLogo").val(arr[2]);
            });

            $(".update-div").hide();
            $(".edit-div").show();

            let initialCategoryName;

            $(".bg-primary").click(function () {

                let parentAttr = '.' + $(this).closest('td').attr('class');
                $(this).closest(".edit-div").hide();
                $(parentAttr + " .update-div").show();

                let parentTrId = '#' + $(this).closest('tr').attr('id');

                $(parentTrId + " #PageName").attr("disabled", false);
                $(parentTrId + " #PageLogo").removeClass("d-none");

                initialPageName = $(parentTrId + " #PageName").val();
            });

            $(".cancel_row").click(function () {

                let parentAttr = '.' + $(this).closest('td').attr('class');
                $(this).closest(".update-div").hide();
                $(parentAttr + " .edit-div").show();

                let parentTrId = '#' + $(this).closest('tr').attr('id');

                $(parentTrId + " #PageName").attr("disabled", true);
                $(parentTrId + " #PageLogo").addClass("d-none");

                $(parentTrId + " #PageName").val(initialPageName);

            });

            $(".update_row").click(function () {
                let parentTrId = '#' + $(this).closest('tr').attr('id');

                var fileInput = $(parentTrId + " #PageLogo")[0];
                var file = null;
                if (fileInput && fileInput.files.length > 0) {
                    file = fileInput.files[0];
                }

                let formData = new FormData();
                formData.append("Id", $(parentTrId + " #Id").val());
                formData.append("PageName", $(parentTrId + " #PageName").val());
                if (file) {
                    formData.append("PageLogo", file);
                }

                $.ajax({
                    url: '/Admin/UpdateWebPage',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            console.log("Update failed: " + response.message);
                        }
                    },
                    error: function (err) {
                        console.error("Error:", err);
                    }
                });
            });


        });

    </script>     

}


